.flexbox, .flex-item {
    border: 1px solid black;
    padding: 5px;
}

.flexbox {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap /*default nowrap*/
    /*shorthand*/flex-flow: row wrap;
    justify-content: center;
}

.flex2 {
    width: 100px;
    /*align-items: flex-end;*/
}

.flex-item {
    margin: 5px;
    width: 100px;
}

.three {
    flex-grow: 0.5;
}

.four {
    flex-grow: 1;
}

.five {
    flex-grow: 2;
}
/*NOTES
justify-content controls how flex items are distributed along the main axis
align-content controls how flex lines are distributed along the cross axis
align-items controls how flex items are distributed along the cross axis of flex lines
*/