/*
multi
line
comment
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.fancy-header {
    color: mediumpurple; /* single line comment */
    text-decoration: underline;
}

header  {
    text-align: center;
}

h2 {
    color: #ee0089;
    text-decoration: underline;
}

body {
    background-color: rgba(159, 193, 241, 0.63);
}

/*#purple {*/
/*    background-image: url("codeup-logo-with-Codey.png");*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    min-height: 60dvh;*/
/*}*/

li {
   list-style-type: square;
}